{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static '/js/api_productos.js' %}"></script>   
<script>
    function crearProducto(){
    var datosForm = {
        nombre_producto: $('#nombreProd').val(),
        marca_producto: $('#marcaProd').val(),
        descripcion_producto:$('#descProd').val(),
        precio_producto:$('#precioProd').val(),
        stock_producto:$('#stockProd').val()
        
    };
    var datosFormJson = JSON.stringify(datosForm);

    $.ajax({
        url:urlRestListar,
        type: 'POST',
        dataType:'JSON',
        data: datosFormJson,
        contentType:'application/json',
        success: function(response){


        }

    });
};
</script>

<div class="container mx-auto bg-gray-100">

<form id="form_crear_producto" class="grid grid-flow-row justify-center text-center" action="{% url 'listarProductos' %}" method="POST">
    {% csrf_token %}
<h1 class="text-2xl my-5 "> Crear Nuevo Producto: </h1>
    <hr class="my-2">
    
    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="nombre_producto">Nombre del Producto: </label>
    <input id="nombreProd" class="my-1 border p-1 border-2 border-pink-800 rounded-lg" type="text" name="nombre_producto" placeholder='Ingresa el nombre del producto'/>

    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="marca_producto">Marca del Producto: </label>
    <input id="marcaProd" class="my-1 border p-1  border-2 border-pink-800 rounded-lg" type="text" name="marca_producto" placeholder='Ingresa la marca del producto'/>

    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="descripcion_producto">Descripcion del Producto: </label>
    <input id="descProd" class="my-1 border p-1  border-2 border-pink-800 rounded-lg" type="text" name="descripcion_producto" placeholder='Ingresa la descripcion del producto'/>

    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="precio_producto">Precio del Producto: </label>
    <input id="precioProd" class="my-1 border p-1  border-2 border-pink-800 rounded-lg" type="number" name="precio_producto" placeholder='Ingresa el precio del producto'/>

    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="stock_producto">Stock del Producto: </label>
    <input id="stockProd" class="my-1 border p-1  border-2 border-pink-800 rounded-lg" type="number" name="stock_producto" placeholder='Ingresa el stock del producto'/>

    <hr class="my-2">

    <input id="btn_guardar" onclick="crearProducto()" type="submit" class="my-10 border border-4 border-pink-700 rounded-lg hover:bg-pink-700 "  value="Crear Producto"/>
</form>


</div>
{% endblock %}
