{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static '/js/api_productos.js' %}"></script>   

<script>
    var urlRestDetalleProd='http://127.0.0.1:8000/api/detalle_producto/<id>';
    function verProducto(){
    $.ajax({
        url: urlRestDetalleProd,
        typeof:'GET',
        datatype:'JSON',
        success: function(response){
            var detalle = $('<tr>'+
            '<td class=" py-4 mx-2" ># '+response.id  +'</td>'+
            '<td class=" py-4 mx-2" >'+response.nombre_producto  +'</td>'+
            '<td class=" py-4 mx-2" >'+response.marca_producto +'</td>'+
            '<td class=" py-4 mx-2" >'+response.descripcion_producto  +'</td>'+
            '<td class=" py-4 mx-2" >$ '+response.precio_producto  +'</td>'+
            '<td class=" py-4 mx-2" >'+response.stock_producto  +'</td>'+
            '<td class=" py-4 mx-2 " ><a href="">Borrar</a></td>'+
            '</tr>');       
                $('#tabla_ver_producto').append(detalle);


        }
    });
}

$(document).ready(function(){
    verProducto();

});

</script>

<div class="container mx-auto bg-gray-100">
    
    <div  class="grid grid-flow-row justify-center text-center">
        <h1 class="text-2xl my-5 "> Detalles producto </h1>

    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg px-2">
        <table class="w-full text-sm text-left text-gray-500" > 
        <thead class="text-xs text-gray-700 uppercase bg-gray-300">
        <tr>
        <th scope="col " class="">Codigo</th>
        <th scope="col" class="">Nombre</th>
        <th scope="col" class="">Marca</th>
        <th scope="col" class="">Descripcion</th>
        <th scope="col" class="">Precio</th>
        <th scope="col" class="">Cantidad</th>
        <th scope="col" class="">acciones </th>
        <th scope="col" class=""> </th>
        </tr>
        </thead>
        <tbody id="tabla_ver_producto">

  
        </tbody>
    </table>
    </div>




<div  class="grid grid-flow-row justify-center text-center">
    <h1 class="text-2xl my-5 "> Editar producto </h1>

</div>
    
<form id="form_crear_producto" class="grid grid-flow-row justify-center text-center" action="{% url 'listarProductos' %}" method="POST">
    <hr class="my-2">
    {% csrf_token %}
    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="nombre_producto">Nombre del Producto: </label>
    <input id="nombreProd" class="my-1 border p-1 border-2 border-pink-800 rounded-lg" type="text" name="nombre_producto" placeholder='Ingresa el nombre del producto'/>

    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="marca_producto">Marca del Producto: </label>
    <input id="marcaProd" class="my-1 border p-1  border-2 border-pink-800 rounded-lg" type="text" name="marca_producto" placeholder='Ingresa la marca del producto'/>

    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="descripcion_producto">Descripcion del Producto: </label>
    <input id="descProd" class="my-1 border p-1  border-2 border-pink-800 rounded-lg" type="text" name="descripcion_producto" placeholder='Ingresa la descripcion del producto'/>

    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="precio_producto">Precio del Producto: </label>
    <input id="precioProd" class="my-1 border p-1  border-2 border-pink-800 rounded-lg" type="number" name="precio_producto" placeholder='Ingresa el precio del producto'/>

    <label class="block uppercase tracking-wide text-gray-700 text-md font-bold my-2" for="stock_producto">Stock del Producto: </label>
    <input id="stockProd" class="my-1 border p-1  border-2 border-pink-800 rounded-lg" type="number" name="stock_producto" placeholder='Ingresa el stock del producto'/>

    <hr class="my-2">

    <input id="btn_guardar" onclick="" type="submit" class="my-10 border border-4 border-pink-700 rounded-lg hover:bg-pink-700 "  value="Crear Producto"/>
</form>


</div>
{% endblock %}
