<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/svg+xml" href="{% static "img/store.ico" %}" sizes="any">
    <title>Kozuki Store</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    
</head>
<body>
    <!----------------------------------------------------------------------------------------- NAVBAR -->
    <nav class="bg-pink-700 border-white-200 px-2 sm:px-4 py-2.5 rounded">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="{% url 'home' %}" class="flex items-center">
              <img src="{% static "img/icon.png" %}" class="mr-3 h-6 sm:h-9" alt="Kozuki Logo" />
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Kozuki Store</span>
          </a>
          <button data-collapse-toggle="mobile-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
            <svg class="hidden w-6 h-6" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
              <li>
                <a href="{% url 'home' %}" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Inicio</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 text-white hover:bg-white-50 md:hover:bg-transparent md:border-0 md:hover:text-white-700 md:p-0">Productos</a>
              </li>
              <li>
                <a href="{% url 'tarjeta' %}" class="block py-2 pr-4 pl-3 text-white hover:bg-white-50 md:hover:bg-transparent md:border-0 md:hover:text-white-700 md:p-0">¿Como comprar?</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 text-white hover:bg-white-50 md:hover:bg-transparent md:border-0 md:hover:text-white-700 md:p-0">Sobre Nosotros</a>
              </li>
              <li>
                <a href="#" class="block py-2 pr-4 pl-3 text-white hover:bg-white-50 md:hover:bg-transparent md:border-0 md:hover:text-white-700 md:p-0">Contacto</a>
              </li>
              <li>
                <a href="{% url 'login' %}" class="block py-2 pr-4 pl-3 text-white hover:bg-white-50 md:hover:bg-transparent md:border-0 md:hover:text-white-700 md:p-0">Inicio de sesion</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>





    {% block content %}
    {% endblock %}
    <!--PRUEBA TARJETA PRODUCTO-->
    <!--------------------------------------------------------- FOOTER -->   
    <div class="">
        <footer id="footer" class="relative z-50 bg-pink-700 ">
            <div tabindex="0" aria-label="footer" class="focus:outline-none border-t   py-16">
                <div class="mx-auto container px-4 xl:px-12 2xl:px-4">
                    <div class="lg:flex">
                        <div class="w-full lg:w-1/2 mb-16 lg:mb-0 flex">
                            <div class="w-full lg:w-1/2 px-6">
                                <ul>
                                    <li><a class="focus:outline-none focus:underline  text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Inicio</a></li>
                                    <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Productos</a></li>
                                    <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">¿Como comprar?</a></li>
                                    <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Sobre Nosotros</a></li>
                                    <li class="mt-6"><a href="javascript:void(0)" class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50">Contactanos</a></li>
                                </ul>
                            </div>
                            <div class="w-full lg:w-1/2 px-6">
                                <ul>
                                    <li><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Marcas Asociadas</a></li>
                                    <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Blog</a></li>
                                    <li class="mt-6"><a class="focus:outline-none focus:underline text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Trabaja con nosotros</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full lg:w-1/2 flex">
                            <div class="w-full lg:w-1/2 px-6">
                                <ul>
                                    <li><a href="javascript:void(0)" class="focus:underline focus:outline-none text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50">Politicas de privacidad</a></li>
                                    <li class="mt-6"><a class="focus:underline focus:outline-none text-xs lg:text-sm leading-none hover:text-brand dark:hover:text-brand text-gray-800 dark:text-gray-50" href="javascript:void(0)">Terminos de servicio</a></li>
                                </ul>
                            </div>
                            <div class="w-full lg:w-1/2 px-6 flex flex-col justify-between">
                                <div class="flex items-center mb-6">
                                    
                                    <a aria-label="Twitter"  href="javascript:void(0)" class="ml-4">
                                        <div class="">
                                           <img class="dark:hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg2.svg" alt="Twitter">
                                           <img class="dark:block hidden" src="https://tuk-cdn.s3.amazonaws.com/can-uploader/footer_1-svg2dark.svg" alt="Twitter">
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>
    
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
      <script src="{% static "js/index.js" %}"></script>
</body>
</html>