{% extends 'base.html' %}{% load static %}
{% block content %}
    <script> 

        // Solicitud GET (Request).
    fetch('https://catfact.ninja/fact?max_length=80')
    // Exito
    .then(response => response.json())  // convertir a json
    .then(data => mostrarData(data))    //imprimir los datos en la consola
    .catch(err => console.log('Solicitud fallida', err)); // Capturar errores
    
    const mostrarData = (data) =>{
    console.log(data)
    let body = ''
    body = `<h2>${data.fact}</h2>`
    document.getElementById('fact').innerHTML = body
    }
    </script>
<!------------------------------------------------------------ TITULO DE LA SECCION/ PRODUCTOS DE G O P ><-->    <!---------------------------------------------------------------BLOQUE DE BUSCADOR CON FONDO  ><-->
 
                <div class="relative bg-pink-300">

                    <!-- consumo de API -->

                    <div class="text-base sm:text-xl md:text-2xl bg-purple-200 text-center pt-5 pb-2 rounded-md shadow-lg">
                        <h2 id="fact" class=" text-bold animate-bounce">
                        
                        </h2>
                    </div>
                    
                    <div class="container m-auto px-6 pt-32 md:px-12 lg:pt-[4.8rem] lg:px-7">
                        <div class="flex items-center flex-wrap px-2 md:px-0">
                            <div class="relative lg:w-6/12 lg:py-24 xl:py-32">
                                <h1 class="font-bold text-4xl text-yellow-900 md:text-5xl lg:w-10/12">Estas comprando para Gatitos </h1>
                                <form action="" class="w-full mt-12">
                                    <div class="relative flex p-1 rounded-full bg-white border border-yellow-200 shadow-md md:p-2">
                                        <select class="hidden p-3 rounded-full bg-transparent md:block md:p-4" name="domain" id="domain">
                                            <option value="design">Juguetes indoor</option>
                                            <option value="development">Rascadores</option>
                                            <option value="marketing">Camas</option>
                                        </select>
                                        <input placeholder="Ejm. hierba gatuna" class="w-full p-4 rounded-full" type="text">
                                        <button type="button" title="Compra ahora" class="ml-auto py-3 px-6 rounded-full text-center transition bg-gradient-to-b from-pink-300 to-purple-400 hover:to-red-300 active:from-purple-700 focus:from-pink-400 md:px-12">
                                            <span class="hidden text-yellow-900 font-semibold md:block">
                buscar
                                            </span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 mx-auto text-yellow-900 md:hidden" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </form>
                                <p class="mt-8  text-2xl text-gray-700 lg:w-20/12">Regalonea a tus amigos peludos!</p>
                            </div>
                            <div class="ml-auto -mb-24 lg:-mb-56 lg:w-6/12">
                                <img src="{% static "img/gatito.png" %}" class="relative w-scren" alt="Perritos" loading="lazy" width="3500"  height="4500">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>


<!-----------------------------------------------------------------BLOQUE BANNER CON DESCUENTOS  ><-->


            <div class="col-xs" >    
                <div class="h-100 flex justify-center items-center" >
                    <card class="grid grid-cols-12 max-w-5xl mx-8 rounded-xl bg-pink-800"> 
                        <div class="col-span-4">
                            <h2 class="font-bold text-3xl text-white ml-10 mt-8"> 
                                Productos en oferta
                            </h2>
                            <p class="font-light text-white text-sm ml-10 mt-5">
                                
                            </p>
                                        <button class="text-white font-semibold ml-10 mt-5 mb-8 group ">
                                Revisa los descuentos en todo Alimento
                                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-6 w-6 group-hover:translate-x-2 transition delay-100 transition-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                </svg>
                            </button>       
                        </div>
                            <div class="col-span-2 relative">
                                <img src=""  class="absolute bottom-0 right-0"/>
                            </div>
                    </card>

                </div>           
            </div>

            <br>





<!------------------------------------------------------- BLOQUE DE  CATEGORIAS-DESPLEGABLE ?-     Y PRODUCTOS/PRECIOS ><-->

            <div class="" id="div_categorias">

                <nav class=" bg-pink-700 border-white-200 px-2 sm:px-4 py-2.5 rounded">

                    <div class=" container flex flex-wrap justify-between mx-screen ">



                        <div class="flex sm:block md:hidden mx-8 p-4 inline-flex">
                            <h1 class="text-white text-2xl  " >CATEGORIAS </h1>
                        </div>
                        

                        <button data-collapse-toggle="categorias" type="button" class="inline-flex items-center p-4 ml-3 text-xl text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="categorias" aria-expanded="false">
                            <svg class="w-8 h-8" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
                            <svg class="hidden w-6 h-6" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                        <div class="hidden w-full md:block md:w-auto " id="categorias">
                                <ul class="w-screen text-center flex flex-wrap flex-col my-4 md:flex-row md:space-x-8  md:text-xl  ">               
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Alimentos</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Aseo</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Bocadillos</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Juguetes terapeuticos</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Medicinas</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Collares</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Arneses</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Camas</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Disfraces</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Peluqueria</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Jaulas de transporte</a>
                                    </li>
                                    <li class="">    
                                        <a href="#" class="w-full block py-2 pr-4 pl-3 text-white hover:bg-purple-100 md:hover:bg-purple-300 md:border-0 md:hover:text-white-700 md:p-0"  >Estambre</a>
                                    </li>

                                </ul>
                        </div>
                    </div>
                </nav>
                


            </div>
        
            
            

<!------------------------------------------------------------------------------------- PRODUCTOS-->
            <div class="grid flex flex-wrap justify-center grid-cols-12 my-10 ">

                <!------------------------------------------------- PRODUCTOS-->
                <div class=" flex flex-wrap   col-span-12 grid-flow-row justify-center flex-shrink-1  gap-10" id="colProducto"> 

                    



                

                    {% for i in '........'|make_list %}

                        {% include 'components/tarjeta_producto.html' %}

                        {% endfor %}

                    

                
                </div> <!--TERMINO PRODUCTOS-->


            </div>

    <!--TERMINO PRODUCTOS-->
    {% endblock %}