{% extends 'base.html' %}{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static "css/valdiacion.css" %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js" > </script>

    <script src="js/validacion_jquery.js"></script>

    <script>
        
//        $(document).ready(function(){
//            $("").blur(function(){
//                
//            });
//        });


        $(document).ready(function(){

//////// TOGLE DE VISIBILIDAD PARA REGISTRO E INGRESO

            var div_registro = document.getElementById("div_registro");
            var div_ingreso = document.getElementById("div_ingreso");

            $(".activar_registro").click(function(){

                div_registro.classList.remove("hidden");
                div_ingreso.classList.add("hidden");

            });

            $(".activar_ingreso").click(function(){

                div_registro.classList.add("hidden");
                div_ingreso.classList.remove("hidden");
            });
        });
    </script>


    <style>
        /* color para alertas y campos en validaciones    */
        
        label.error{
            color: red;
        }
        input.error{
            border-color: red;
            
        }

    </style>
    

    <div class=" mx-auto">


          <div class="grid grid-cols-12 " > 

<!------------------ FORM REGISTRO--------------->



            <div id="div_registro" class="hidden order-first flex-shrink-1
                grid lg:col-span-4 col-span-12 grid-rows-1 justify-center     ">

                <div class=" flex items-center row-span-1 px-5   ">

                    <!----------------------- COMIENZO FORM -->
                    <form name="form_registro"
                    id="form_registro" action="" method="POST" enctype="multipart/form-data"  class="w-full max-w-lg flex-shrink-0  "> 

                        <div class="text-base text-2xl  text-center w-full my-5">CREA TU CUENTA</div>
                            <hr class="border-t border-gray-300 mb-6">
                        
    <!----------------------- EMAIL -->
                        <div class=" flex flex-wrap -mx-3 mb-3  "> 

                            <div class="w-full  px-3 mb-3 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reg_email">
                                Email
                                </label>

                                <input class=" rounded-md shadow-lg appearance-none block w-full text-gray-700 border-b border-pink-300  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-100"
                                id="reg_email" name="reg_email" type="email" placeholder="correo@mail.com">
                                <p id="alerta_email" class="form_alerta text-red-500 text-xs italic"></p>
                            </div>

                        </div>
    <!---------------------------------- NOMBRE USUARIO  -->                   
                        <div class="flex flex-wrap -mx-3 mb-6 "> 
                            
                            <div class="w-full md:w-1/2 px-3 mb-3 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reg_nombre">
                                NOMBRE
                                </label>
                                <input class="form_ rounded-md shadow-lg appearance-none block w-full  text-gray-700 border-b border-gray-500  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-100" 
                                id="_nombre" name="reg_nombre" type="text" placeholder="Armando">
                                <p id="reg_nombre" class="form_alerta text-red-500 text-xs italic"></p>
                            </div>

                            <div class="w-full md:w-1/2 px-3">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reg_apellido">
                                APELLIDO
                                </label>
                                <input class="form_ rounded-md shadow-lg appearance-none block w-full  text-gray-700 border-b border-gray-500  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-100"
                                id="reg_apellido" name="reg_apellido" type="text" placeholder="Paredes">
                                <p id="alerta_nombre" class="form_alerta text-red-500 text-xs italic"></p>
                            </div>
                        </div>


    <!------------------------------ CONTRASEÑA -->

                        <div class="flex flex-wrap -mx-3 mb-6"> 

                            <div class="w-full md:w-1/2 px-3 md:mb-0 mb-5">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reg_contraseña">
                                Contraseña
                                </label>
                                <input class="rounded-md shadow-lg appearance-none block w-full  text-gray-700 border-b border-gray-500  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-100" 
                                id="reg_contraseña" name="reg_contraseña" type="password" placeholder="******************">
                                <p class="form_alerta text-red-600 text-xs italic"></p>
                            </div>
                            <div class="w-full md:w-1/2 px-3 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="reg_confcontraseña">
                                Confirmar contraseña
                                </label>
                                <input class="rounded-md shadow-lg appearance-none block w-full  text-gray-700 border-b border-gray-500  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-100"
                                id="reg_confcontraseña" name="reg_confcontraseña" type="password" placeholder="******************">
                                <p class="form_alerta text-red-600 text-xs italic"></p>
                            </div>
                        </div>

                        <fieldset id="" class="my-3" >

                            <div class="flex items-center mb-5">
                                <label for="reg_chbox" class=" mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">Accepo los <a href="#" class=" text-blue-600 hover:underline dark:text-blue-500">terminos y condiciones </a> </label>
                                
                                <input  id="reg_chbox" name="reg_chbox" type="checkbox" value="" class="checkbox mr-4 w-4 h-4 border  text-blue-600 bg-gray-100 border-gray-300  focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
                            </div>
                        </fieldset>

                        <button class="w-full px-4 py-2 mb-5 font-bold text-white border border-gray-300 rounded-lg 
                                    hover:bg-gray-700 focus:outline-none focus:shadow-outline shadow-lg bg-gray-400" type="submit">
                                    Registrar Cuenta
                        </button>

                        <p class="">Ya tienes cuenta? <button type="reset" class="activar_ingreso pb-4 text-base text-purple-700"> Ingresa aqui</button></p>

                    </form>

                </div>

            </div>
            
<!---------------------------------IMAGEN -->

            <div class=" md:col-span-8 lg:block hidden order-2 overflow-hidden">
                    <img src={% static "img/Para fondo.jpg"%} class="object-cover min-h-full "
                    alt="">
            </div>
            
<!---------------------------------FORM 2  INICIO SESION -->

            <div id="div_ingreso" class=" order-last
                grid lg:col-span-4  col-span-12 grid-rows-1 flex-shrink-1 justify-center pb-10 sm:p-0 lg:pb-0 min-w-screen  ">

                <div class=" max-h-screen flex items-center row-span-1 px-10  ">
                    
                    <!----------------------- COMIENZO FORM -->
                    <form name="form_ingreso" id="form_ingreso" action="" method="POST" enctype="multipart/form-data"  class="w-full max-w-lg  "> 

                        <div class="text-base text-2xl  text-center w-full my-5">Inicia Sesion</div>
                            <hr class="border-t border-gray-300 mb-6">
                        
                <!----------------------- EMAIL -->

                        <div class=" flex flex-wrap -mx-3 mb-3  "> 

                            <div class="w-full  px-3 mb-3 md:mb-0">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="ing_email">
                                Email
                                </label>

                                <input class="rounded-md shadow-lg appearance-none block w-full text-gray-700 border-b border-pink-300  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-100"
                                id="ing_email" name="ing_email" type="email" placeholder="correo@mail.com">
                                <p id="alerta_email" class="form_alerta text-red-500 text-xs italic"></p>
                            </div>

                        </div>

                <!------------------------------ CONTRASEÑA -->

                        <div class="flex flex-wrap -mx-3 mb-6"> 

                            <div class="w-full px-3 md:mb-0 mb-5">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="ing_contraseña">
                                Contraseña
                                </label>
                                <input class="rounded-md shadow-lg appearance-none block w-full  text-gray-700 border-b border-gray-500  py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-gray-100" 
                                id="ing_contraseña" name="ing_contraseña" type="password" placeholder="*****************">
                                <p class="alerta_ text-red-600 text-xs italic"></p>
                            </div>              
                        </div>

                        <hr class="border-t border-gray-300 mb-10  ">

                        <button class="w-full px-4 py-2 mb-5 font-bold text-white border border-gray-300 rounded-lg 
                                    hover:bg-gray-700 focus:outline-none focus:shadow-outline shadow-lg bg-gray-400" type="submit">
                                    Acceder
                        </button>

                        <p>No tienes Cuenta? <button type="reset" class="activar_registro pb-4 text-base text-purple-700"> Registrate aqui</button></p>

                    </form>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}
