{% extends 'base.html' %}{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="{% static "css/tarjeta.css" %}">
</head>
    <!-- COMPRA -->
    <div class="compra grid grid-cols-6">
    <!-- PAGO -->
    <div class="container flex justify-center flex-col bg-zinc-200 col-span-6
    md:col-span-4 px-8 min-w-full place-content-center pt-5 md:px-20">
      
        <div class="card-container h-64  w-full md:w-96 relative left-0 right-0 m-auto shrink">
  
            <div class="front absolute h-full w-full  rounded-lg 
            bg-gradient-to-r from-pink-800 to-pink-400 p-5 transition delay-150 duration-300 ease-in-out">
                <div class="image flex items-center justify-between pt-5">
                    <img src="{% static "/img/tarjeta/chip.png" %}" class="h-10" alt="">
                    <img id="logo-tarjeta" src="" class="logo-tarjeta h-10" alt="">
                </div>
                <div class="flex">
                  <div class="card-number-box px-0 py-8 text-2xl text-white">#### #### #### ####</div>
                  <span class="px-0 py-8 text-xl invisible">a</span>
                </div>
                <div class="flexbox flex">
                    <div class="box first:mr-auto text-base text-white">
                        <span>NOMBRE</span>
                        <div class="card-holder-name">JUAN PEREZ</div>
                    </div>
                    <div class="box first:mr-auto text-base text-white">
                        <span>EXPIRACION</span>
                        <div class="expiration">
                            <span class="exp-month">MM</span>
                            <span>/</span>
                            <span class="exp-year">AA</span>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="back absolute h-full w-full top-0 left-0 rounded-lg text-right
            bg-gradient-to-r from-pink-800 to-pink-400 py-5 px-0 transition delay-150 duration-300 ease-in-out">
                <div class="stripe bg-black w-full my-2.5 mx-0 h-12"></div>
                <div class="box py-0 px-5">
                    <span class="text-base text-white">cvv</span>
                    <div class="cvv-box h-12 p-2.5 mt-1 text-gray-900 bg-white rounded-lg w-full"></div>
                    <img id="logo-tarjeta-back" src="" class="logo-tarjeta float-right mt-7 h-7" alt="">
                </div>
            </div>
    
        </div>
      <form class="flex flex-col justify-center pt-5" action="">
            <div class="relative z-0 w-full mb-6 group">
                <input type="text" name="numero" class="card-number-input block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-pink-300 appearance-none focus:outline-none focus:ring-0 focus:border-pink-700 peer" placeholder=" " required maxlength="19"/>
                <label for="numero" class="peer-focus:font-medium absolute text-lg text-pink-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-pink-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">NUMERO DE TARJETA</label>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input type="text" onkeyup="this.value=this.value.replace(/[^A-z\s]/g,'');" name="nombre" class="card-holder-input block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-pink-300 appearance-none focus:outline-none focus:ring-0 focus:border-pink-700 peer" placeholder=" " required maxlength="40"/>
                <label for="nombre" class="peer-focus:font-medium absolute text-lg text-pink-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-pink-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">NOMBRE DE TITULAR</label>
            </div>
            <div class="flex flex-row pb-5">
            <label for="underline_select" class="sr-only">SELECCIONE MES</label>
                <select id="underline_select" class="month-input block mr-10 w-full text-lg text-pink-500 bg-transparent border-0 border-b-2 border-pink-300 appearance-none focus:outline-none focus:ring-1 focus:border-pink-700 peer">
                        <option value="month" selected disabled>MES</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                <label for="underline_select" class="sr-only">SELECCIONE MES</label>
                <select id="underline_select" class="year-input block px-0 w-full text-lg text-pink-500 bg-transparent border-0 border-b-2 border-pink-300 appearance-none focus:outline-none focus:ring-1 focus:border-pink-700 peer">
                    <option value="year" selected disabled>AÑO</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                     <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <input type="text" name="numero" class="cvv-input block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-pink-300 appearance-none focus:outline-none focus:ring-0 focus:border-pink-700 peer" placeholder=" " required maxlength="4"/>
                <label for="numero" class="peer-focus:font-medium absolute text-lg text-pink-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-pink-700 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" >CVV</label>
            </div>
        <div class="flex justify-center">
          <input type="submit" value="PAGAR" class="submit-btn bg-gradient-to-r from-pink-800 to-pink-400
          rounded-lg p-5 mb-5 text-white w-full md:w-1/2">
        </div>
      </form>
  
  </div>    
      
  
  
  
  
  
  <script>
  document.querySelector('.card-number-input').oninput = () =>{
      document.querySelector('.card-number-box').innerText = document.querySelector('.card-number-input').value
      .replace(/\s/g,'')
      .replace(/\D/g, '')
      .replace(/([0-9]{4})/g, '$1 ')
      .trim();
      document.querySelector('.card-number-input').value = document.querySelector('.card-number-box').innerText
      if(document.querySelector('.card-number-input').value == ''){
        document.querySelector('.card-number-box').innerText = '#### #### #### ####';
        document.getElementById('logo-tarjeta').src="";
            document.getElementById('logo-tarjeta-back').src="";
	}
	    if(document.querySelector('.card-number-input').value[0] == 4){
            document.getElementById('logo-tarjeta').src="{% static "/img/tarjeta/visa.png" %}";
            document.getElementById('logo-tarjeta-back').src="{% static "/img/tarjeta/visa.png" %}"
        }
	 else if(document.querySelector('.card-number-input').value[0] == 5){
		document.getElementById('logo-tarjeta').src="{% static "/img/tarjeta/master.png" %}";
            document.getElementById('logo-tarjeta-back').src="{% static "/img/tarjeta/master.png" %}"
	}
    }
  
  document.querySelector('.card-holder-input').oninput = () =>{
      document.querySelector('.card-holder-name').innerText = document.querySelector('.card-holder-input').value
      .toUpperCase() 
      .replace(/[0-9]/g, '')
      .trim();
      //falta que ponga .value
      document.querySelector('.card-holder-input') = document.querySelector('.card-holder-name').innerText
      if(document.querySelector('.card-holder-input').value == ''){
        document.querySelector('.card-holder-name').innerText = 'JUAN PEREZ';	}
  }
  
  document.querySelector('.month-input').oninput = () =>{
      document.querySelector('.exp-month').innerText = document.querySelector('.month-input').value;
  }
  
  document.querySelector('.year-input').oninput = () =>{
      document.querySelector('.exp-year').innerText = document.querySelector('.year-input').value;
  }
  
  document.querySelector('.cvv-input').onmouseenter = () =>{
      document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(-180deg)';
      document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(0deg)';
  }
  
  document.querySelector('.cvv-input').onmouseleave = () =>{
      document.querySelector('.front').style.transform = 'perspective(1000px) rotateY(0deg)';
      document.querySelector('.back').style.transform = 'perspective(1000px) rotateY(180deg)';
  }
  
  document.querySelector('.cvv-input').oninput = () =>{
      document.querySelector('.cvv-box').innerText = document.querySelector('.cvv-input').value
      .replace(/\s/g,'')
      .replace(/\D/g, '');
      document.querySelector('.cvv-input').value = document.querySelector('.cvv-box').innerText;
  }
  
  </script>
  
  
  
    <!-- RESUMEN PEDIDO -->    
    <div class="bg-zinc-300 col-span-2 p-2 md:block hidden">
      <div class="flex">
        <img class="object-scale-down h-20 w-20" src="{% static "/img/productos/churu-56g.jpg" %}" alt="churu 56gr">
        <div class="flex flex-col flex-grow">
        <h2 class="text-lg min-w-full">Snack gato churu atún y salmón</h2>
        <h3>56 g</h3>
        <h1 class="text-right text-lg text-violet-900">$2.900</h1>
        </div>
    </div>
    </div>
    </div>

    <script src="/tarjeta.js"></script>
{% endblock %}