{% load static %}
<div class=" max-w-sm bg-purple-300 shadow-md rounded-md border-gray-500 dark:border-gray-700 ">
    <a href="#">
    <img class="shadow-md p-2 rounded-lg  "  src="{% static "img/kong-goodie-bone-dog-toy-best-chew-dog-toy.jpg"%}" width="" alt="product image">
    </a>
    <div class="px-5 pb-5 ">

        <div class="flex flex-wrap gap-6 my-3">
            <a href="#">
                <h5 class=" text-2xl font-semibold tracking-tight text-black ">Producto: </h5>
            </a>
            <div class="flex  items-center">
                <span class="text-2xl font-bold text-gray-900 ">$0000000</span>
            </div>
        </div>
        
        <div class="flex items-center mt-2.5 mb-5">
        {% for i in '.....'|make_list %}
        <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
        {% endfor %}
    <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
    </div>  
    <button href="#" class="shadow-lg  w-full text-black bg-blue-700 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition bg-gradient-to-b from-pink-300 to-purple-400 hover:to-red-300 active:from-purple-700 focus:from-pink-400">Agregar al carrito</button>
    </div>
</div>

