{% load static %}


    <div id="tarjeta-producto" class="max-w-sm bg-white w-80 shadow-md rounded-xl transform transition duration-500 hover:scale-105 hover:shadow-2xl" >
        <a href="#">
            <img id="img-producto" class="shadow-lg  border-gray-700 object-cover w-full rounded-xl border-b" src="{% static "img/kong-goodie-bone-dog-toy-best-chew-dog-toy.jpg"%}" width="" height="" alt="product image">
        </a>
        <div class="m-3 ">
            <h1 id="nombre-producto" class="text-2xl font-bold text-gray-800 "> NOMBRE PRODUCTO </h1>
            <h3 id="marca-producto" class="text-gray-500 uppercase ">Marca</h3>
            <div class="flex  items-center">
                <span id="precio-producto" class="text-2xl text-gray-900 ">$000.000</span>
            </div>
        </div>
        <button id="btn" href="#" class="w-full shadow-lg rounded-b-lg text-black bg-pink-500 hover:bg-pink-600  hover:text-white focus:ring-4 focus:outline-none focus:ring-purlpe-300 font-medium text-sm px-5 py-2.5 text-center  ">Agregar al carrito</button>  
    </div>



